* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  /* ENCABEZADO */
  header {
    background-color: #22211F;
    width: 100%;
    padding: 20px;
  }
  header h1 {
    padding: 20px;
  }
  header h1 a {
    color: black;
    text-decoration: none;
  }
  header nav {
    padding: 30px;
    width: 100%;
  }
 
  nav ul li a {
    color: darkgrey;
    float: right;
    padding:  10px;
    font-size: 25px;
  }
  body {
    background-color: rgb(201, 198, 198);
}
 /* CENTRO */
 main {
    width: 100%;
 }  
 #seccion-principal .section-principal {
    padding: 30px 20px;
 }
 .section-principal .parrafo2 {
    padding: 20px 15px;
 }
  footer {
    background-color: #3a3833;
  }
  .button {
    color: #fff;
    background-color: #5a5d61; /* Blue */
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border: 3px solid #363434; /* Dark gray */
    border-radius: 5px;
    cursor: pointer;
    }
    button:active {
      background-color: darkolivegreen;
      color: white;
    }
  .creador {
    padding: 20px 0px 0px 20px;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 20px;
  }
  /* ESTILOS */
  .container-nav {
    color: rgb(255, 255, 255);
  }